.container {
	width: 100%;
	max-width: 80rem;
	padding: 0 var(--pm-xlarge);
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	grid-gap: 1rem;
}
nav {
	grid-column: auto / span 2;
	padding: var(--pm-large);
	border-right: 1px solid var(--color-grey);
	text-align: right;
}
nav a {
	display: block;
	margin-bottom: var(--pm-large);
}
.main {
	grid-column: auto / span 10;
}
section {
	padding: 0 0 var(--pm-xxlarge) 0;
	margin: 0 0 var(--pm-xxlarge) 0;
	border-bottom: 1px solid var(--color-grey);
}
.space {
	padding-bottom: 0.5rem;
}
@media screen and (max-width: 50rem) {
	nav, .main {
		grid-column: auto / span 12;
	}
}